<nav class="navbar navbar-fixed-top nav-color">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#connect">Connect</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#projects">Projects</a></li>
     </ul>
      </div>
    </div>
  </div>
</nav>



  <div  class="container">

      <section id="connect">
    <div class="row" id="header-spacer"></div>
     <div id="IE7warning" style="display:none" class="row">
        <div class="col-md-12">
           <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> <strong>Your browser is outdated.</strong> This site (and most of the internet) won't display properly until you <a href="http://google.com/chrome" style="text-decoration: underline">upgrade</a>.</div>
        </div>
     </div>
     

     <div class="row">
        <div class="col-md-12">
           <h1 id="title"><span style="margin-right: -10px">Vineeth Adithya</span> <span class="accented">Dodla</span></h1>
        </div>
     </div>
     
     <hr>
     <div class="row">
        <div class="col-md-12">
           <p><span style="font-weight: bold">Hey!</span> I'm a graduate student with nearly 2 years of professional experience as a software developer.
               With a Graduate degree in Computer Science from University of North Carolina Charlotte, </p>
           <p><span style="font-weight: bold">Create your own visual style… let it be unique for yourself and yet identifiable for others!</span></p>
           
        </div>
     </div>
     
        <hr>
     
     <div class="row">
        <div class="col-md-3 col-sm-4">
           <h2 class="subtitle">Connect</h2>
        </div>
        <div class="col-md-3 col-sm-4 social">
           <a class="social-link" href="mailto:vineethadithyad@gmail.com" target="_blank">
              <div class="social-container">
                 <img src="./assets/mail.png" fallbacksrc="img/mail.png" class="social-icon">
                 <div class="social-header">Email</div>
                 <div class="quiet email visible-sm visible-md" style="font-size: .8em; margin-top:2px">vineethadithyad@gmail.com</div>
                 <div class="quiet email visible-xs visible-lg">vineethadithyad@gmail.com</div>
              </div>
           </a>
        </div>
        <div class="col-md-3 col-sm-4 social">
           <a class="social-link" href="https://github.com/vdodla234" target="_blank">
              <div class="social-container">
                 <img src="./assets/github.png" fallbacksrc="img/github.png" class="social-icon"> <span class="social-header">GitHub</span>
                 <div class="quiet">vdodla234</div>
              </div>
           </a>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-sm-4 visible-sm"></div>
        <div class="col-md-3 col-sm-4 social">
           <a class="social-link" href="https://www.linkedin.com/in/adithya-d-03654188/" target="_blank">
              <div class="social-container">
                 <img src="./assets/linkedin.png" fallbacksrc="img/linkedin.png" class="social-icon"> <span class="social-header">Linkedin</span>
                 <div class="quiet">adithya-d-03654188</div>
              </div>
           </a>
        </div>
        
        
        
      </div>
    </section>
<div id="experience">

</div>
    <hr>
          <section>
              
            <div  class="row" style="margin-bottom:10px">
        <div class="col-md-3 col-sm-4">
           <h2 id="experience-subtitle" class="subtitle">Experience</h2>
        </div>
        <div class="col-md-9 col-sm-8">
           <a href="http://resoluteelectronics.com//" target="_blank">
              <div class="link-item-container">
                 <h3>Resolutte Electronics- Hyderabad, Telangana, India</h3>
                 <div class="quiet heading-subtitle">Junior Software Developer | May 2015 - July 2016</div>
                 <div class="row ignore-link-color">
                    <p class="col-md-2 col-xs-4 head-bold" style="margin: 0"><u>Responsibilities:</u></p><br>
                      <ul class="col-md-10 col-xs-8" style="margin: 0">  
                       <li><p style="margin:0">Developed functional and user interactive web applications for the internal usage and the website using <strong>HTML5, CSS, JavaScript</strong>  . </p></li>
                       <li><p style="margin:0">Debugged the application using Firebug to traverse the documents and manipulated the Nodes using <strong>DOM</strong> functions. </p></li>
                       <li><p style="margin:0">Handled all the clientside validations, slide show, hide and show controls, dropdown menus and tab navigation using <strong>JQUERY</strong>.   </p></li>
                       <li><p style="margin:0">Developed tabbed pages by using <strong>AngularJS</strong> directives.   </p></li>
                       <li><p style="margin:0">Analyzed the <strong>SQL</strong> code for potential pitfalls and correcting them. </p></li>
                       <li><p style="margin:0">Worked with <strong>JIRA</strong>, which is managing project requirements and tasks and tracking issues.</p></li>
                       <li><p style="margin:0">Used the <strong>node.js, PHP and backbone.jsMVC </strong> Frameworks in the development of the web applications on server side.</p></li>
                       <li><p style="margin:0">Worked with <strong>REST API</strong></p></li>
                       <li><p style="margin:0">Involved in client meetings and production support to fix critical issues on demand.</p></li>
                      </ul>
                    
                 </div>
                 <div class="row ignore-link-color">
                    <p class="col-md-2 col-xs-4 head-bold" style="margin:0">Technologies:</p>
                    <p class="col-md-10 col-xs-8"><strong>HTML5, CSS3, JavaScript, Angular JS, Angular2, JQuery, MySql, Sql Server, PHP, Node.js, REST APIs.</strong></p>
                 </div>
              </div>
           </a>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs"></div>
        <div class="col-md-6 col-sm-8">
           <hr class="sub-hr">
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs hidden-sm"></div>
        <div class="clearfix visible-md visible-lg"></div>
        <div class="col-md-3 col-sm-4 hidden-xs"></div>
        <div class="col-md-9 col-sm-8">
           <a href="http://resoluteelectronics.com/" target="_blank">
              <div class="link-item-container">
                 <h3>Resolutte Electronics- Hyderabad, Telangana, India</h3>
                 <div class="quiet heading-subtitle">Software Developer Intern | May 2015 - July 2015</div>
                 <div class="row ignore-link-color">
                    <p class="col-md-2 col-xs-4 head-bold" style="margin: 0"><u>Responsibilities:</u></p><br>
                      <ul class="col-md-10 col-xs-8" style="margin: 0">  
                      <li><p style="margin:0"> Developed UI pages using HTML, XHTML ,DOM, CSS, JavaScript, Jquery, Ajax and Angular JS. </p></li>
                       <li><p style="margin:0">Used jQuery core library functions for the logical implementation part, at client side for all the applications. </p></li>
                       <li> <p style="margin:0">Involved in writing the SQL scripts, validating them and creating visualizations using Tableau. </p></li>
                       <li><p style="margin:0">Involved in the requirements gathering and owing the user stories using agile methodology.   </p></li>
                       
                      </ul>
                    
                 </div>
                 <div class="row ignore-link-color">
                    <p class="col-md-2 col-xs-4 head-bold" style="margin:0">Technologies:</p>
                    <p class="col-md-10 col-xs-8"> <strong>HTML5, CSS3, JavaScript, Angular JS, JQuery, MySql,d3.js, Tableau</strong> </p>
                 </div>
              </div>
           </a>
          </div>
  </div>
</section>
<div id="education">

</div>
  
<div> <hr></div>
<br>
<br>
<section >  
  <div  class="row" style="margin-bottom:10px">
      <div class="col-md-3 col-sm-4">
         <h2 id="education-subtitle" class="subtitle">Education</h2>
      </div>
      <div class="col-md-9 col-sm-8 project">
         <a href="https://www.uncc.edu/" target="_blank">
            <div class="link-item-container">
               <h3>University of North Carolina at Charlotte
               </h3>
               <div class="quiet heading-subtitle">9201 University City Blvd, Charlotte, NC 28223</div>
               <p class="ignore-link-color">Master of Science in Computer Science<br>August 2016 - December 2017<br>GPA: 3.5</p>
            </div>
         </a>
      </div>
      <div class="col-md-9 col-sm-8 col-md-offset-3 col-sm-offset-4 project">
         <a href="http://jntuh.ac.in/" target="_blank">
            <div class="link-item-container">
               <h3>VIT UNIVERSITY</h3>
               <div class="quiet heading-subtitle">Vellore, TamilNadu, India</div>
               <p class="ignore-link-color">Bachelor of Technology in Electronics Communication Engineering<br> July 2012 - May 2016 <br>GPA: 3.5</p>
            </div>
         </a>
      </div>
   </div>
  </section>
  <div id="projects">

  </div>
   <div>
   <hr>
  </div>
  <br>
  <br>
  <section>  
  <div  class="row">
        <div class="col-md-3 col-sm-4">
           <h2 id="projects-subtitle" class="subtitle">Academic Projects</h2>
        </div>
        <div class="col-md-9 col-sm-8">
           <div class="row">
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/Restaurant-Management-System" target="_blank">
                    <div class="link-item-container">
                       <h3>Restaurant Management Web Application</h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/Restaurant-Management-System</div>
                       <p class="ignore-link-color">Developed a Web application for a local restaurant to improve it's reach out to the community.Incorporated features like Online reservation system, career forum, online menu and a CMS.  <span class="hidden-xs hidden-sm hidden-md"><br><br></span></p>
                    </div>
                 </a>
              </div>
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/stylistclient" target="_blank">
                    <div class="link-item-container">
                       <h3>Hairstylist Web Application</h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/stylistclient</div>
                       <p class="ignore-link-color">This is a web application developed on request from a local hair stylist. This applicaiton helps the business owner to organize the appointments and maintian high level of professionalism to attract the customers. Included a google calender for scheduling appointments, a special feedback form to the customers.</p>
                    </div>
                 </a>
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs"></div>
        <div class="col-md-9 col-sm-8">
           <div class="row">
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/movie-rental-store" target="_blank">
                    <div class="link-item-container">
                       <h3>Movie Rental Store</h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/movie-rental-store</div>
                       <p class="ignore-link-color">Web Application developed for a movie rental store. Includes feature like movies sorted in various categorious can also employ various filters to select the movie.</p>
                       <span class="hidden-xs hidden-sm hidden-lg"><br></span>
                    </div>
                 </a>
              </div>
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/DiabetesDataset" target="_blank">
                    <div class="link-item-container">
                       <h3>Pima Indians Diabetes Data Analysis</h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/DiabetesDataset</div>
                       <p class="ignore-link-color">Analysed the Pima Indians Diabetes Dataset and applied EDA results using various machine learning algorithms to predict which elements of the dataset contribute to the output</p>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
    </section>
  <hr>
     <div class="row">
        <div class="col-md-3 col-sm-4">
           <h2 id="projects-subtitle" class="subtitle">Other Projects</h2>
        </div>
        <div class="col-md-9 col-sm-8">
           <div class="row">
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/hotel-management-application" target="_blank">
                    <div class="link-item-container">
                       <h3>Hotel Web Application</h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/hotel-management-application</div>
                       <p class="ignore-link-color">This is a web application for a local business owner who runs a hotel. This application offers attractive features to enhance the experience of the customers by offering cool features like web checkin, details with respect to the local sight-seeings and travel bookings.
                          <span class="hidden-xs hidden-sm hidden-md"><br><br></span></p>
                    </div>
                 </a>
              </div>
              <div class="col-md-6 col-sm-12 project">
                 <a href="https://github.com/vdodla234/SuggestACollege" target="_blank">
                    <div class="link-item-container">
                       <h3>Us College Data </h3>
                       <div class="quiet heading-subtitle">github.com/vdodla234/SuggestACollege</div>
                       <p class="ignore-link-color">Analysis of a large open dataset as part of a compitition (source:data.gov) and come with best results that suite the preferences of the student(given in the problem statement). Used R and Python for data analysis, visualizations were created using tableau.</p>
                    </div>
                 </a>
              </div>
           </div>
        </div>

      
          <div class="col-md-3 col-sm-4 hidden-xs">
                         </div>
        
        <div class="col-md-9 col-sm-8">
          <div class="row">
             <div class="col-md-6 col-sm-12 project">
                <a href="https://github.com/vdodla234/ClaimsProcessingDataAnalysis" target="_blank">
                   <div class="link-item-container">
                      <h3>React-Mac-Terminal</h3>
                      <div class="quiet heading-subtitle">github.com/vdodla234/ClaimsProcessingDataAnalysis</div>
                      <p class="ignore-link-color"> Analysis of a dataset from an open source website and present the applciation of the data findings and analysis in a competiton with help of visualizations. This data contains information about the compensation claims filed by workers in an organization.
                         <span class="hidden-xs hidden-sm hidden-md"><br><br></span></p>
                   </div>
                </a>
             </div>
             <div class="col-md-6 col-sm-12 project">
                <a href="https://github.com/vdodla234/SentimentalAnalysis" target="_blank">
                   <div class="link-item-container">
                      <h3> Live Twitter Data Analysis</h3>
                      <div class="quiet heading-subtitle">github.com/vdodla234/SentimentalAnalysis</div>
                      <p class="ignore-link-color">Used Twitter Api to extract the live tweets form twitter and analysed the words in the tweets by classifying in to categories and thus identifying the tweets that have a potential to spark insecurity and voilence in the country.</p>
                   </div>
                </a>
             </div>
          </div>
       </div>
      </div>
     
    
      <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyD-Cr34dWzX-7BiZI_nbtxbDGBWEM6Y2sQ",
          authDomain: "vickyportfolio-c1510.firebaseapp.com",
          databaseURL: "https://vickyportfolio-c1510.firebaseio.com",
          projectId: "vickyportfolio-c1510",
          storageBucket: "vickyportfolio-c1510.appspot.com",
          messagingSenderId: "405638119755"
        };
        firebase.initializeApp(config);
      </script>
